@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

.logos
{
    margin-right: 1.5%;
    display: block;
}

body
{ 
    background-color: ivory;
}

.btn-circle.btn-lg {
    width: 8.75rem;
    height: 8.75rem;
    padding: 0.7px 1rem;
    border-radius: 50%;
    font-size: 1.2rem;
    font-weight: 600;
    text-align:center;
    display: block;
}

.portfolio-text
{
    font-size: 5rem;
    font-weight: 600;
    color: white;
}

.rotate
{
    transform: rotate(90deg);
    display:inline-block;
}

.center-element-portfolio
{
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.center-element-contact
{
   position:absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.center-text-contact
{
    position:relative;
    left: 15%;
}

.f-family-text
{
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 500;
}

.container-fluid
{
    max-width: 93%;
    width: 100%;
    
}



